<template>
    <div class="home">
    <h1>This is Home</h1>
    <div>Hello darkness my old fren</div>
    <div class="this">This div</div>
    <router-link to="/second">Go to second page</router-link>
    </div>
</template>

<style lang="scss">
div {
    background-color: pink;
    color: red;
    padding: 2em;
    .this {
        text-align: center;
        color: green;
    }
}
</style>
